.author-avatar-lg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.author-page {
  max-width: 720px;
}

.author-bio {
  font-size: 16px;
  color: var(--secondary);
}

.author-post {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
